<h1>{{ title_bhu }}</h1>
{% for item in list_bhu %}
    <span>{{ item }}</span>
    <br>
{% endfor %}

<h1>{{ title_rki }}</h1>
{% for item in list_rki %}
    <span>{{ item }}</span>
    <br>
{% endfor %}

<h1>{{ title_hyd }}</h1>
{% for item in list_hyd %}
    <span>{{ item }}</span>
    <br>
{% endfor %}

<h1>{{ title_ind }}</h1>

{% for item in list_ind %}
    <span>{{ item }}</span>
    <br>
{% endfor %}

<h1>{{ title_rpr }}</h1>
{% for item in list_rpr %}
    <span>{{ item }}</span>
    <br>
{% endfor %}


<h1>{{ title_del }}</h1>
{% for item in list %}
    <span>{{ item }}</span>
    <br>
{% endfor %}

<h1>{{ title_bom }}</h1>
{% for item in list_bom %}
    <span>{{ item }}</span>
    <br>
{% endfor %}